.bg-img
{
    width: 50%;
}
.bg-flex-container
{
    position: inherit;
    z-index: -1;
    background-color: #484c6171;
    margin: .5em 1em 1em 1em;
}
.bg-flex
{
    display: flex;
    flex-flow: row;
}
.work{
    padding: 1em 0em 1em 0em;
}
body
{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
p, li
{
    padding-left: 1vh;
    font-family: 'alkhemikal';
    color: aliceblue;
    font-size: 200%;
    text-shadow: 2px 2px #000000;
    word-break:normal;
}
h1
{
    font-family: 'alkhemikal';
    color: rgb(204, 210, 224);
    font-size: 300%;
    text-shadow: 2px 2px #000000;
    margin-top: 0%;
    text-align: center;
    padding-top: 1em;
}
h2
{
    font-family: 'alkhemikal';
    color: rgb(204, 210, 224);
    font-size: 250%;
    text-shadow: 2px 2px #000000;
    margin-top: 5vh;
}
.content{
    padding: 1em 1em 2em 1em;

}
.me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    border-radius: 1em;
    border-style: solid;
    border-width: .25em;
    border-color: white;
}
.nav-bar{
    margin: 0px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left:  0px;
    justify-content: center;
    background-color: #381e4c;
    position: fixed;
    width: 100%;
    height: fit-content;
}
.nav-component{
    text-decoration: none;
    height: 1em;
    width: fit-content;
    text-align: center;
    background-color: #381e4c;
    padding-right: 10px;
    padding-left: 10px;
    height: fit-content;
}
.nav-component:hover
{
    background-color: #263244;
    transition: background-color 1s;
}
.name{
    margin-top: 0%;
}
a{
    text-decoration: none ;
}
footer{
    display: none;
}
header{
    display: none;
}
.senko{
    height: 100vh;
}
@font-face {
    font-family: 'alkhemikal';
    src: url('http://localhost/feladatok/fonts/webfontkit-20231002-024043/alkhemikal-webfont.woff2') format('woff2'),
     url('http://localhost/feladatok/fonts/webfontkit-20231002-024043/alkhemikal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media (max-width:730px) {
    .mainContent
    {
        background-image: url("/feladatok/LAVArt/caveNightTme.png");
        background-size: contain;
        background-position-x: center;
        background-color: #381e4c;
    }
}

@media (min-width:730px) {
    .mainContent
    {
        background-image: url("/feladatok/LAVArt/caveNightTme.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: #381e4c;
    } 
    
}